@import '../../../styles/variables';

.header {
    background-color: #39505c;
    color: white;
    position: fixed;
    height: $headerHeight;
    top:0;
    left:0;
    right:0;
    padding: 1rem;
    font-size: 1.5rem;
}